In [1]:
import geopy.distance

#103.8125
#1.2937

coords_1 = (52.2296756, 21.0122287)
coords_2 = (52.406374, 16.9251681)

print(geopy.distance.vincenty(coords_1, coords_2))

279.35290160386563 km

In [14]:
import pandas as pd
import numpy as np

rain_df = pd.read_csv("rain_shifted.csv")
rain_df.head()

,station_id,rainfall,timestamp (SGT),name,latitude,longitude,t-10_rainfall,t-9_rainfall,t-8_rainfall,t-7_rainfall,t-6_rainfall,t-5_rainfall,t-4_rainfall,t-3_rainfall,t-2_rainfall,t-1_rainfall,t-0_rainfall
0,S77,0.0,2018-01-08 00:05:00,Queenstown,1.2937,103.8125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,S77,0.0,2018-01-08 00:35:00,Queenstown,1.2937,103.8125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,S77,0.0,2018-01-08 01:05:00,Queenstown,1.2937,103.8125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,S77,0.0,2018-01-08 01:35:00,Queenstown,1.2937,103.8125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,S77,0.0,2018-01-08 02:05:00,Queenstown,1.2937,103.8125,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0

In [11]:
rain_grouped = rain_df.groupby(['station_id'], axis=0)
print(rain_grouped.size())

station_id
S07     49
S08     49
S100    48
S104    48
S106    41
S107    47
S108    47
S109    47
S11     49
S111    49
S112    48
S113    48
S114    48
S115    37
S116    45
S117    48
S118    48
S119    48
S120    48
S121    16
S122    46
S123    48
S24     48
S29      9
S33     46
S35     41
S36     22
S40     48
S43     48
S44     48
S46     43
S50     49
S55     48
S60     48
S61     49
S64     48
S66     49
S69     49
S71     49
S77     49
S78     47
S79     49
S81     49
S82     49
S84     48
S88     49
S89     48
S90     49
S900    47
S91     49
S92     48
S94     48
dtype: int64

## Carpark data

In [16]:
carpark_df = pd.read_csv("carpark_2018-01-08.csv")
carpark_df.head()

,carpark_info,carpark_number,lot_type,lots_available,timestamp (SGT),total_lots,update_datetime,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,longitude,latitude
0,"[{'total_lots': '104', 'lot_type': 'C', 'lots_...",HE12,C,39.0,2018-01-08 00:05:00,104.0,2018-01-08T00:03:19,BLK 78/81 REDHILL LANE,26367.5806,30069.2434,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.818651,1.28821
1,"[{'total_lots': '104', 'lot_type': 'C', 'lots_...",HE12,C,42.0,2018-01-08 00:35:00,104.0,2018-01-08T00:33:19,BLK 78/81 REDHILL LANE,26367.5806,30069.2434,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.818651,1.28821
2,"[{'total_lots': '104', 'lot_type': 'C', 'lots_...",HE12,C,38.0,2018-01-08 01:05:00,104.0,2018-01-08T01:03:19,BLK 78/81 REDHILL LANE,26367.5806,30069.2434,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.818651,1.28821
3,"[{'total_lots': '104', 'lot_type': 'C', 'lots_...",HE12,C,41.0,2018-01-08 01:35:00,104.0,2018-01-08T01:33:19,BLK 78/81 REDHILL LANE,26367.5806,30069.2434,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.818651,1.28821
4,"[{'total_lots': '104', 'lot_type': 'C', 'lots_...",HE12,C,40.0,2018-01-08 02:05:00,104.0,2018-01-08T02:03:19,BLK 78/81 REDHILL LANE,26367.5806,30069.2434,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.818651,1.28821

## Carpark info with longitude, latitude

In [7]:
carparkinfo_df = pd.read_csv("carpark_info.csv")
carparkinfo_df.head()

,carpark_number,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,longitude,latitude
0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES,103.854118,1.301063
1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.885061,1.321004
2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,103.844620,1.328283
3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO,103.834985,1.369091
4,AK31,BLK 302/348 ANG MO KIO ST 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO,103.846636,1.366120

In [17]:
carparkinfo_df.shape

(2066, 11)

In [18]:
carparkinfo_filter = carparkinfo_df.filter(['carpark_number','longitude','latitude'])
carparkinfo_filter

     carpark_number   longitude  latitude
0               ACB  103.854118  1.301063
1               ACM  103.885061  1.321004
2               AH1  103.844620  1.328283
3              AK19  103.834985  1.369091
4              AK31  103.846636  1.366120
5              AK52  103.850296  1.372439
6               AK6  103.844854  1.374836
7              AK83  103.863845  1.376678
8               AK9  103.848368  1.383599
9              AM16  103.835718  1.370350
10             AM18  103.844619  1.365540
11             AM19  103.834531  1.368886
12             AM20  103.846089  1.364698
13             AM22  103.847653  1.364588
14             AM32  103.834377  1.370533
15             AM43  103.857310  1.368584
16             AM46  103.853396  1.372178
17             AM51  103.846699  1.369915
18             AM64  103.853098  1.371457
19             AM79  103.851328  1.372328
20             AM80  103.841861  1.370647
21             AM81  103.841948  1.371639
22             AM96  103.850940  1.364074
23             AR1L  103.782632  1.303877
24             AR1M  103.783667  1.302849
25             AR2L  103.781155  1.305913
26             AR2M  103.781674  1.304739
27             AR5M  103.784463  1.307344
28             AR7L  103.785591  1.305808
29             AR7M  103.785192  1.304771
...             ...         ...       ...
2036             Y5  103.832108  1.431115
2037            Y51  103.847065  1.421503
2038           Y51M  103.845569  1.422743
2039           Y52M  103.844920  1.420310
2040           Y53M  103.846016  1.422924
2041           Y54M  103.837035  1.427312
2042            Y56  103.836763  1.425450
2043            Y57  103.846466  1.423992
2044            Y58  103.832383  1.432539
2045           Y59M  103.849176  1.422274
2046             Y6  103.834194  1.432523
2047           Y60M  103.848119  1.421137
2048           Y61M  103.847588  1.420088
2049           Y62M  103.844447  1.430249
2050           Y63M  103.845026  1.431646
2051           Y64M  103.845133  1.432488
2052           Y65M  103.842023  1.432669
2053           Y66M  103.842288  1.433765
2054            Y67  103.840896  1.436463
2055           Y68M  103.844596  1.418396
2056           Y69M  103.844087  1.416009
2057             Y7  103.827451  1.427302
2058           Y70M  103.840369  1.414855
2059           Y71M  103.840908  1.416580
2060           Y72M  103.841232  1.414758
2061           Y73M  103.841563  1.419135
2062           Y74M  103.841690  1.419628
2063           Y75M  103.843084  1.420176
2064             Y8  103.831278  1.429445
2065             Y9  103.834013  1.427831

[2066 rows x 3 columns]

rain_location_distance = geopy.distance(2 coordinates)
rain influence = summation_i(e^-(rain_location_distance)*rain_value)

In [ ]:
#pd.merge(df, carparkinfo_filter, how='outer', on=['timestamp (SGT)','station_id'])

In [8]:
carparkinfo_df.groupby(['carpark_number'], axis=0).size()

carpark_number
A1      1
A10     1
A100    1
A11     1
A12     1
A13     1
A15     1
A2      1
A20     1
A21     1
A23     1
A24     1
A25     1
A26     1
A27     1
A28     1
A29     1
A30     1
A30A    1
A31     1
A31A    1
A33     1
A34     1
A35     1
A36     1
A37     1
A38     1
A39     1
A4      1
A40     1
       ..
Y51     1
Y51M    1
Y52M    1
Y53M    1
Y54M    1
Y56     1
Y57     1
Y58     1
Y59M    1
Y6      1
Y60M    1
Y61M    1
Y62M    1
Y63M    1
Y64M    1
Y65M    1
Y66M    1
Y67     1
Y68M    1
Y69M    1
Y7      1
Y70M    1
Y71M    1
Y72M    1
Y73M    1
Y74M    1
Y75M    1
Y8      1
Y9      1
YHS     1
Length: 2066, dtype: int64

In [5]:
#temp_df = grouped.get_group('S94')

carpark_grouped = carpark_df.groupby(['carpark_number'], axis=0)
print(carpark_grouped.size())

carpark_number
A1       1
A10     48
A100    48
A11     48
A12     48
A13      1
A15     48
A2      48
A20     48
A21      1
A23      1
A24     48
A25     48
A26      1
A27     48
A28     48
A29      1
A30     48
A30A     1
A31     48
A31A     1
A33      1
A34     48
A35     48
A36     48
A37     48
A38     48
A39     48
A4      48
A40     48
        ..
Y51M    48
Y52M    48
Y53M    48
Y54M     1
Y56     48
Y57     48
Y58     48
Y59M    48
Y6      48
Y60M    48
Y61M    48
Y62M    48
Y63M     1
Y64M     1
Y65M     1
Y66M     1
Y67      1
Y68L    48
Y68M    48
Y69M     1
Y7      48
Y70M     1
Y71M     1
Y72M     1
Y73M     1
Y74M     1
Y75M     1
Y8      48
Y9      48
YHS     48
Length: 2126, dtype: int64

In [10]:
carpark_points = carpark_grouped.size().index
#carpark_points[0]
carpark_loc_df = pd.DataFrame(carpark_points)
carpark_loc_df['longitude'] = np.nan
carpark_loc_df['latitude'] = np.nan
carpark_loc_df.head()

  carpark_number  longitude  latitude
0             A1        NaN       NaN
1            A10        NaN       NaN
2           A100        NaN       NaN
3            A11        NaN       NaN
4            A12        NaN       NaN

In [42]:
carpark_loc_df['carpark_number']

0         A1
1        A10
2       A100
3        A11
4        A12
5        A13
6        A15
7         A2
8        A20
9        A21
10       A23
11       A24
12       A25
13       A26
14       A27
15       A28
16       A29
17       A30
18      A30A
19       A31
20      A31A
21       A33
22       A34
23       A35
24       A36
25       A37
26       A38
27       A39
28        A4
29       A40
        ...
2096    Y51M
2097    Y52M
2098    Y53M
2099    Y54M
2100     Y56
2101     Y57
2102     Y58
2103    Y59M
2104      Y6
2105    Y60M
2106    Y61M
2107    Y62M
2108    Y63M
2109    Y64M
2110    Y65M
2111    Y66M
2112     Y67
2113    Y68L
2114    Y68M
2115    Y69M
2116      Y7
2117    Y70M
2118    Y71M
2119    Y72M
2120    Y73M
2121    Y74M
2122    Y75M
2123      Y8
2124      Y9
2125     YHS
Name: carpark_number, Length: 2126, dtype: object

In [9]:
#for i in range(0,len(carpark_loc_df['carpark_number'])):
#    carpark_loc_df['longitude'][i] = carpark_df.loc[carpark_df['carpark_number'] == carpark_loc_df['carpark_number'][i]]['longitude'].values[0]

In [30]:
carpark_df.loc[carpark_df['carpark_number'] == carpark_points[0]]
carpark_df.loc[carpark_df['carpark_number'] == carpark_points[0]]['longitude'].values[0]

103.8417128119124

In [8]:
info_df = pd.read_csv("hdb-carpark-information.csv")
info_df.head()

,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking
0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES
1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES
2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES
3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO
4,AK31,BLK 302/348 ANG MO KIO ST 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO